$primary-color: #d860ae;
$secondary-color: #eddfeb;
$desktop: 1024px;
$tablet: 769px;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

body {
    min-height: 100vh;
    background-image: linear-gradient(60deg, #543093, $primary-color);
    .custom-container {
        font-family: 'Open Sans', sans-serif;

        .card {
            border-radius: 1%;
            @media screen and (min-width: $tablet) {
                margin-top: 10rem;
            }

            .animation-container {
                position: relative;
                height: 250px;
                @media screen and (min-width: $tablet) {
                    height: 400px;
                }

                #bg-blob,
                #unsubscribe-letter,
                #heart-blob,
                #confetti {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }

                #unsubscribe-letter {
                    z-index: 2;
                }
            }
            .heading {
                font-weight: 700;
                font-size: 1.8rem;
                line-height: normal;
                text-align: center;
                text-transform: none;
                @media screen and (min-width: $desktop) {
                    font-size: 2.5rem;
                    margin: 0 6rem 1rem 6rem;
                }
            }
            .sub-heading {
                text-align: center;
                margin: 1rem 1rem 4rem 1rem;

                @media screen and (min-width: $desktop) {
                    margin: 1rem 8rem 4rem 8rem;
                }
            }
            .buttons {
                margin-left: 0.75rem;
                margin-right: 0.75rem;
                .primary-button {
                    background-color: $primary-color;
                    &:hover {
                        background-color: darken($primary-color, 10%);
                    }
                }
                .secondary-button {
                    background-color: $secondary-color;
                    &:hover {
                        background-color: darken($secondary-color, 10%);
                    }
                }
                .button {
                    font-size: 1rem;
                    margin: 0 1rem 3rem 1rem;
                    @media screen and (min-width: $tablet) {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

.hide {
    display: none;
}
